<ul class="ul-lista" >
    <ng-container >
        <li 
            *ngFor="let item of lista; let valor = index" 
            class="item-lista" (mouseover)="valor == valor ? toggle.style.display = 'block' : toggle.style.display = 'none'" 
            (mouseout)="toggle.style.display = 'none'"> 
            {{item}}
            <div [ngStyle]=" {display: 'none'}"
                #toggle
                class="lista-botao">
                <button 
                    botao
                    bg="#ffb703"
                    largura="50px" 
                    (click)="emitirEventoAlterar(valor)"
                    ><mat-icon >create</mat-icon>
                </button>
                <button 
                    botao 
                    bg="#E64D3C"
                    largura="50px" 
                    class="botao-apagar"
                    (click)="emitirEvento(valor)"
                    ><mat-icon >delete</mat-icon>
                </button>
            </div>
        </li>
    </ng-container>
</ul>
