.ul-lista{
    width: 390px;
    padding: 0;
    overflow-y: auto;
    max-height: 500px;
}

.item-lista{
    list-style: none;
    height: 25px;
    background-color: #F2F2F2;
    padding: 10px;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.lista-botao{
    position: relative;
    top: -9px;
    left: 9px;  
}

.botao-apagar{
    border-radius: 0px 5px 5px 0px;
}

