<main class="main">
  <h1 class="titulo-app">Todo App</h1>
  <div class="div-app">
    <app-cmp-input 
      class="cmp-input" 
      #input 
      (btnClick)="adicionar($event)">
    </app-cmp-input>
  </div>
  <app-cmp-lista 
      (btnClickEvent)="deletarTarefa($event)" 
      (btnClickChange)="getIndice($event)" 
      #lista>
  </app-cmp-lista>
  <app-cmp-alteracao 
      class="div-app" 
      (btnCleanList)="limparLista()" 
      (btnAcceptChangeEvent)="alterarDados()" 
      #change>
      <p class="paragrafo-app" #quantidade>
        You have {{lista.quantidade}} pending tasks
      </p>
  </app-cmp-alteracao>
</main>