.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 2.5rem 1.5rem;
    border-radius: 8px;
    font-family: "Poppins";
}

.titulo-app{
    width: 100%;
    margin: 0;
}

.div-app{
    width: 100%;
    display: flex;
    margin-top: 1.5rem ;
}

.cmp-input{
    display: flex;
    width: 100%;
}



.botao-app{
    border-radius: 5px;
    font-weight: 700;
    margin-left: 5px;
} 

.form-app{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.paragrafo-app{
    flex: 1;
}