<div class="div-app" *ngIf="toggle; else form">
    <ng-content></ng-content>
    <button 
        botao largura="90px" 
        class="botao-app" 
        (click)="aceitarLimpeza()">
        Clear All
    </button>
  </div>
  <ng-template #form>
    <form class="form-app">
      <input inputApp [placeholder]="placeholder" #alteracao>
      <button 
        botao 
        bg="#40916c" 
        largura="70px"
        class="botao-app" 
        (click)="acceptEvent()">
        Change
    </button>
      <button 
        botao 
        bg="#E64D3C" 
        largura="70px"
        class="botao-app" 
        (click)="toggle = !toggle">
      Cancel
    </button>
    </form>
  </ng-template>
