/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(97,217,194,1) 0%, rgba(74,127,231,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
